* {
  box-sizing: border-box;
}

#container {
  margin: 0;
  display: flex;
}

#navbar {
  height: 100vh;
  width: 20%;
  margin: 0;
  background-color: rgb(96, 154, 207);
  color: white;
}

#navbar ul {
  height: 100%;
  width: 100%;
  margin: 0;
  list-style-type: none;
  /*FLEX STUFF*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* #navbar li:hover {
  align-self: center;
  width: 100%;
  padding: 20px;
  background-color: #00baf0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: .5s ease-in-out;
} */


#navbar img {
  height: 100%;
  width: 100%;
  align-items: center
}

.main {
  height: 100vh;
  width: 80%;
  background-color: #fff;
  /*FLEX STUFF*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.singletable div {
  height: 80%;
  width: 95%;
  box-shadow: 5px 5px 5px 0 rgba(46, 74, 117, 0.5);
}
.quickaccess div {
  height: 100%;
  width: 22%;
  box-shadow: 5px 5px 5px 0 rgba(46, 74, 117, 0.5);
}
